html, body {
  margin: 0;
  padding: 0;
  background: rgb(117, 140, 142);
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.dashboard {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 250px;
}

.playerTwo .photo {
  transform: rotate(180deg);
}

.dashboard.current {
  background-color: #eee;
  color: #000;
}

.map {
  border: 1px solid #999;
  border-right: 0;
  border-bottom: 0;
  width: 652px;
}

.map .row {
  display: flex;
  flex-direction: row;
}

.map .box {
  border: 1px solid #999;
  border-top: 0;
  border-left: 0;
  height: 64px;
  width: 64px;
  background: url('../images/ground.png') no-repeat;
}

.map .blocked {
  background: url('../images/crate.png') no-repeat;
}

.map .weapon {
  width: 90%;
}

.map .valid {
  border: 1px dotted greenyellow;
}

.hidden {
  display: none;
}